<div>
    <header>
        <div class="header">
            <div class="image">
                <img src="assets/education.png">
            </div>
            <div class="text">
                <h1>BookStore</h1>
            </div>
        </div>
    </header>
    <body>
        <div class="forgot">
            <h2>
                Forgot Your Password?
            </h2>
        </div>
        <div class="content">
            <mat-card>
                <h3>
                    Enter Your Email Address And we'll send you a link to Reset Your Password
                </h3>
                <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onForgotPassword()">
                  <mat-form-field class="Email" appearance="outline" >
                      <mat-label>Email</mat-label>
                       <input  class="width" matInput placeholder="Enter Your Mail Address" formControlName="Email">
                   </mat-form-field>
                   <button mat-button class="button">Reset Password</button>
                </form>
            </mat-card>
        </div>
        <button mat-button class="button2">Create Account</button>
    </body>
</div>

