
<div class="ResetPassword">
    <header>
        <div class="header">
            <div class="image">
                <img src="assets/education.png">
            </div>
            <div class="text">
                <h1>BookStore</h1>
            </div>
        </div>
    </header>
    <body>
        <h2>Reset Your Password</h2>
        <div class="content">
            <mat-card>
                <mat-card-content>
                    Enter New Password for BookStore Account
                </mat-card-content>
                <form [formGroup]="ResetPasswordForm" (ngSubmit)="onResetPassword()">
                    <p class="forms">
                        <mat-form-field appearance="outline" style="width: 300px">
                            <mat-label>New_Password</mat-label>
                            <input matInput placeholder="NewPassword" formControlName="password">
                        </mat-form-field>
                    </p>
                    <p class="forms">
                        <mat-form-field appearance="outline" style="width: 300px">
                            <mat-label>Confirm_Password</mat-label>
                            <input matInput placeholder="Confirm_NewPassword" formControlName="confirmPassword">
                        </mat-form-field>
                    </p>
                    <button class="button" mat-button>Confirm</button>
                </form>
            </mat-card>
        </div>
    </body>
</div>